.mainPageLink {
    color: black;
    /* 링크 색상 */
    text-decoration: none;
    /* 밑줄 제거 */
    font-weight: bold;
    /* 굵은 글씨체 */
}

.icon-color {
    color: black;
}

.text-color {
    color: black;
}