.order-content {
  max-height: 60vh; /* Adjust this value as needed */
  overflow-y: auto;
  padding-right: 16px; /* To account for scrollbar width */
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.order-item-image {
  width: 80px;
  height: auto;
  margin-right: 16px;
}

.order-item-details {
  flex: 1;
}

.order-item-details h3 {
  margin: 0 0 8px 0;
}

.order-item-details p {
  margin: 0 0 4px 0;
}
